.navbar{
    height: 80px;
    background-color: rgb(43, 103, 43);
    
}

.navbar-brand img{
height: 60px;
}

.navbar-brand {
    color: black !important;
}

.nav-link{
    color:rgb(169, 195, 27) !important;
}

.jumbotrom{
    height: 500px;
    background-image: url(img/cereal.jpg);
    background-size: cover;
    background-position: center ;
    text-shadow: 0 0 5px black;
   
}
h2{
    background-color: green;
    padding: 20px;
}
.container-fluid{
    background-color:white;
    padding: 10px;
    margin-bottom: 0;
}
article{
    border: 10px;  
    text-align: center;
}

.frutos{
    background-image: url(img/frutossecos.jpg);
    padding: 200px;
    
}
.legumbres{
    background-image: url(img/legumbres.jpg);
    padding: 200px;
}
.hierbas{
    background-image: url(img/hierbasmedicinales.jpg);
    padding: 70px}
h1{
    color: rgb(169, 195, 27);
}
p{
    color: rgb(9, 9, 9);
}

footer{
    background-color:yellowgreen;
    color: rgb(10, 9, 9);
    text-align: center;
    padding: 20px;
    

}

@media only screen and (min-width:0) and (max-width:576px) {
    .navbar-collapse{
        background-color: rgb(246, 240, 240);

    }
}


